<div class="d-flex" id="content">
  <div class="p-4 bd-highlight w-25" id="izq">
    <figure class="mt-5 mb-5">
      <img class="d-flex m-auto"
           src="https://s.france24.com/media/display/f1c47ecc-aa50-11ed-923b-005056bfb2b6/w:1280/p:4x3/2023-02-11T192833Z_596431449_UP1EJ2B1I3J5E_RTRMADP_3_SOCCER-CLUB-MAD-ALH-REPORT.JPG"
           alt="">
    </figure>
    <h1>Partidos</h1>
    <div>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse mollis dignissim nisl, quis bibendum lorem
        tristique sit amet.</p>
      <button class="btn btn-link">
        <i class="bi bi-plus-square-fill"></i>
        Nuevo partido
      </button>
    </div>
  </div>
  <div class="flex-fill p-5">
    <router-outlet></router-outlet>
  </div>
</div>
