<div class="d-flex" id="content">
  <div class="p-4 bd-highlight w-25" id="izq">
    <figure class="mt-5 mb-5">
      <img class="d-flex m-auto"
           src="assets/img/equipos.jpg"
           alt="">
    </figure>
    <h1>Equipos</h1>
    <div>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse mollis dignissim nisl, quis bibendum lorem
        tristique sit amet.</p>
      <button class="btn btn-link">
        <i class="bi bi-plus-square-fill"></i>
        Nuevo equipo
      </button>
    </div>
  </div>
  <div class="flex-fill p-5">
    <router-outlet></router-outlet>
  </div>
</div>
