<nav class="navbar navbar-expand-sm bg-primary">
  <div class="container-fluid">
    <div class="text-white ">
      <h2 routerLink="">
        <i class="bi bi-dribbble " style="font-size:30px;"></i>
        Datos deportivos
      </h2>
    </div>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link active text-primary text-white" routerLink="partidos">Partidos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active text-primary text-white" routerLink="equipos">Equipos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active text-primary text-white" routerLink="sucesos">Sucesos</a>
      </li>
    </ul>
  </div>
</nav>
