<div id="cabecera">
  <img src="./assets/img/portada.jpeg" id="img">
</div>
<div id="titulo">
  <h2>Datos deportivos v42</h2>
</div>
<div id="menu" class="row">
  <div class="option" [routerLink]="['partidos']">
    <img src="assets/img/partidos.jpg" class="foto">
    <p class="text-center"> Partidos</p>
  </div>
  <div class="option " [routerLink]="['no-disponible']">
    <img src="assets/img/equipos.jpg" class="foto">
    <p class="text-center">Equipos</p>
  </div>
  <div class="option " [routerLink]="['no-disponible']">
    <img src="assets/img/sucesos.jpg" class="foto">
    <p class="text-center" >Sucesos</p>
  </div>
</div>
